.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}